.section {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.section h2 {
  margin: 0;
}

.section-1 {
  background-color: antiquewhite;
}

.section-1 button {

}

.section-1 span {
  background-size: 100%;

  font-family: monospace;
  font-size: 100px;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.section-2 {
  background-color: brown;
}

.section-3 {
  background-color: palegreen;
}

.section-controls-container {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-controls-container span {
  margin-right: 15px;
  font-size: 50px;
}

.section-controls-container button {
  margin-right: 15px;
}

.grid-style {
  height: 100px;
  border-style: dotted;
  background-color: aquamarine;
}